<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450443263694-e7es0madf919t0nrp8cjhs04p4og6f17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450443263694-e7es0madf919t0nrp8cjhs04p4og6f17</string>
	<key>API_KEY</key>
	<string>AIzaSyCUJ5iYcNDQwHajl66D-bcWbseUyEzsLZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>450443263694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartCarParking</string>
	<key>PROJECT_ID</key>
	<string>smart-car-parking-iot-c531f</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-car-parking-iot-c531f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450443263694:ios:bc1a55ec8c3b97466dda9f</string>
</dict>
</plist>